<!DOCTYPE html>
<html>

<head>
    <title>Display</title>
</head>

<body>
    <p>Message: {{ msg }} </p> </br>
    <p>Name of the image you requested {{ art_image }} </p></br>
    <!--  <p><img src="{{ art_image }}" alt="Art Image"> </br></p> 
    <p><img src="/resource/gap_11111.jpg" alt="Art Image"></p> -->
    <!--   <p> <img src="{{url_for('static', filename='gap_11111.jpg')}}"></p> -->
    <p> <img src="{{url_for('static', filename=art_image)}}"></p>

    <p>metadata.file_id {{ md }} </p></br>

    <!-- 
    <img src="/RESOURCE/gap_11111.jpg" alt="Art Image"> </br>
    <img src="{{ art_image }}" alt="Art Image"> </br>
    <p>Nearest images: {{ nearest_images }} </p></br> 
    <p>Feature barcode from Google Vision API: {{ google_features }} </p></br>
    
    <p>Dominant colors from Google Vision API {{ dominant_colors }} </p></br> -->
</body>

</html>